
#blog-container
  width 100%
  height 100%

  display flex
  flex-direction row
  align-items center

#title-side
  display flex
  flex-direction column
  justify-content center

  background-color #000
  height 100%
  padding 10px

.blog-title
  font-size 48px
  white-space normal
  line-height 1.2

  margin 15px 0

#intro-side
  display flex
  justify-content center
  flex-direction column

  margin 10vw

#intro
  white-space normal
  padding 10px
  font-size 24px

#colour-side
  background-color orange
  height 100%
  min-width 20px

#dropdown-container
  display flex
  justify-content right

.blog-dropdown
  display flex
  justify-content center
  align-items center

  margin 0 10px

  background rgba(0, 0, 0, 0.25)
  height 48px
  width 48px

#blog-loading
  position fixed
  width 100vw
  height 5px
  top 0

  background-color #ef9a9a

  .loading-bar
    height 100%
    background-color #f44336