
$nav-color = #070707

#navigation
  display flex
  position fixed

  flex-direction column
  justify-content center
  align-items center

  height 48px
  width 100vw

  bottom 0

  background-color $nav-color

  .tab-container
    flex 99
    display flex
    align-items center

    max-width 100vw
    overflow-x hidden

    margin-left 48px

    .highlight-bar
      position relative
      bottom -23px
      height 2px
      min-width 64px

      background-color #000

    .tab
      user-drag none
      user-select none
      padding 8px
    *
      height 24px