doctype html

html(lang="en")
  head
    {% if meta is not none %}
    title {{meta["title"]}}

    meta(charset="utf-8")
    link(rel="author" href="https://about.argarak.me/")
    link(rel="license" href="https://about.argarak.me/licensing")
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    meta(name="viewport" content="width=device-width")
    link(rel="shortcut icon" href="{{meta.current_favicon}}")
    meta(name="description" content="{{meta.description}}")

    {% if meta.is_article == true %}
    meta(name="keywords" content="{{meta.article.tags}}")
      //meta(name="Argarak" lang="en" content="")
    {% else %}
    meta(name="keywords" content="{{meta.default_tags}}")
    {% endif %}
    {% endif %}
    
    {% for style in sources.styles %}
    link(rel="stylesheet" href="{{style}}")
    {% endfor %}
    
    {% for script in sources.scripts %}
    script(src="{{script}}")
    {% endfor %}

    link(href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700\
    |Material+Icons' rel="stylesheet")
    
    block head_append
    
  body
    script.
      absoluteStaticUrl = "{{'' | absolute}}"
    #app
      md-layout(md-row style="height: 100vh")
        #container
          block body
        //md-layout(md-vertical-align="end")
        md-tabs#nav-tabs(md-centered md-elevation=5 
        :md-navigation="false"
        :md-indicator-style="indicatorStyle"
        @change="navbarTabsChange")
          md-tab(v-for="(colour, icon) in navbarTabs"
          :md-icon-src="'{{'/icon/' | absolute}}' + icon")